<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Thu Nov 17 2016 08:27:51 GMT+0000 (UTC)  -->
<html data-wf-page="582c9a63749a3a9f347c2d27" data-wf-site="582c9a63749a3a9f347c2d26">
<head>
  <meta charset="utf-8">
  <title>Вебинар Актуальные вопросы по кардиологии, 18 ноября 2016 года</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="{{ asset('bundles/app/css/normalize.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('bundles/app/css/webflow.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('bundles/app/css/webinar-5ddfb8.webflow.css') }}" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
      }
    });
  </script>
  <script src="{{ asset('bundles/app/js/modernizr.js') }}" type="text/javascript"></script>
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="section">
    <img class="ribbon w-hidden-small w-hidden-tiny" sizes="(max-width: 862px) 100vw, 862px"
         src="{{ asset('bundles/app/images/heart-ribbon.png') }}"
         srcset="{{ asset('bundles/app/images/heart-ribbon-p-500x382.png') }} 500w,
         {{ asset('bundles/app/images/heart-ribbon-p-800x610.png') }} 800w,
         {{ asset('bundles/app/images/heart-ribbon.png') }} 862w">


    <img class="heart-letter" src="{{ asset('bundles/app/images/big-city-heart.png') }}">
    <div class="heading-and-annotation-div">
      <h1 class="h1">Вебинар <br>актуальные вопросы кардиологии</h1>
      <p class="annotation">18 ноября 2016 года в 13:00</p><a class="button-fixed w-button" href="#registration">Подключиться к вебинару</a>
    </div>
  </div>
  <div class="timelaine-section w-hidden-small w-hidden-tiny">
    <h2 class="h2 timeline">Программа вебинара</h2>
    <div class="flex">
      <div class="line">
        <div class="_4 time">
          <div>14:30</div>
          <div class="circle"></div>
          <div>Технический перерыв</div>
        </div>
        <div class="_3 time">
          <div>14:15</div>
          <div class="circle"></div>
          <div>Ответы на вопросы</div>
        </div>
        <div class="_2 time">
          <div>13:15</div>
          <div class="circle"></div>
          <div>Лекция на тему «Пациент с АГ.
            <br>От некомплаентности к &nbsp;терапевтическому альянсу»</div>
        </div>
        <div class="_6 time">
          <div>15:40</div>
          <div class="circle"></div>
          <div>Дискуссия. Ответы на вопросы</div>
        </div>
        <div class="time">
          <div class="number">13:00</div>
          <div class="circle"></div>
          <div class="texting">Представление докладчика. Вводное слово</div>
        </div>
        <div class="_5 time">
          <div>14:40</div>
          <div class="circle"></div>
          <div>Лекция на тему «Скрытый предиктор сердечно-сосудистых
            <br> катастроф – диастолическая дисфункция»</div>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-for-mobile w-hidden-main w-hidden-medium">
    <h2 class="h2 timeline">Программа вебинара</h2>
    <div class="flex">
      <div class="line mobile">
        <div class="_4 time">
          <div>14:30</div>
          <div class="circle"></div>
          <div>Технический перерыв</div>
        </div>
        <div class="_3 time">
          <div>14:15</div>
          <div class="circle"></div>
          <div>Ответы на вопросы</div>
        </div>
        <div class="_2 time">
          <div>13:15</div>
          <div class="circle"></div>
          <div>Лекция на тему
            <br>«Пациент с АГ.
            <br>От некомплаентности
            <br>к терапевтическому альянсу»</div>
        </div>
        <div class="_6 mobile time">
          <div>15:40</div>
          <div class="circle"></div>
          <div>Дискуссия. Ответы на вопросы</div>
        </div>
        <div class="time">
          <div class="number">13:00</div>
          <div class="circle"></div>
          <div class="texting">Представление
            <br>докладчика. Вводное слово</div>
        </div>
        <div class="_5 time">
          <div>14:40</div>
          <div class="circle"></div>
          <div>Лекция на тему
            <br>«Скрытый предиктор
            <br>сердечно-сосудистых
            <br> катастроф –
            <br>диастолическая дисфункция»</div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-section" id="registration">
    <h2 class="h2 in-footer">Подключиться к вебинару</h2>
    <div class="text-in-footer">Авторизация позволит вам подключиться к трансляции вебинара</div>
    <div class="form w-form">
      <form id="email-form" name="email-form" method="POST">
        <div class="text-in-form">Заполните данные формы</div>
        <div class="name-div">
          <input name="firstName" class="input-placeholder name w-input" data-name="Имя" id="node-9" maxlength="256" placeholder="Имя" required="required" type="text">
          <input name="surName" class="input-placeholder name w-input" data-name="Отчество" id="node-10" maxlength="256" placeholder="Отчество" required="required" type="text">
        </div>
        <input name="lastName" class="input-placeholder w-input" data-name="Фамилия" id="node-11" maxlength="256" placeholder="Фамилия" required="required" type="text">
        <input name="post" class="input-placeholder w-input" data-name="Должность" id="node-12" maxlength="256" placeholder="Должность" required="required" type="text">
        <input name="specialty" class="input-placeholder w-input" data-name="Специализация" id="node-13" maxlength="256" placeholder="Специализация" required="required" type="text">
        <input name="city" class="input-placeholder w-input" data-name="Город" id="node-14" maxlength="256" placeholder="Город" required="required" type="text">
        <div class="w-checkbox w-clearfix">
          <input class="w-checkbox-input" data-name="Подтверждение" id="node-6" required="required" type="checkbox">
          <label class="require-text w-form-label" for="node-6">Я подтверждаю, что являюсь врачом</label>
        </div>
        <input class="button w-button" data-wait="Пожалуйста, подождите..." type="submit" value="Подключиться к вебинару">
      </form>

      <div class="sucess w-form-done"><a class="button w-button" href="webinar-translation.html">Подключиться к вебинару</a>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>
  </div>
  <div class="section-with-image">
    <div class="contain w-container">
      <div class="w-row">
        <div class="w-col w-col-5 w-col-medium-5">
          <div class="photo"></div>
        </div>
        <div class="w-col w-col-7 w-col-medium-7">
          <div class="speaker">Ведущий эксперт</div>
          <h2 class="h2">Агеев Фаиль Таипович</h2>
          <p class="text">РУКОВОДИТЕЛЬ научно-диспансерного отдела РКНПК, доктор медицинских наук, профессор, кардиолог</p>
          <p class="text">Лауреат премии Правительства Российской Федерации</p>
          <p class="text">Врач высшей квалификационной категории</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="{{ asset('bundles/app/js/webflow.js') }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ include('@App/counter.html.twig') }}
</body>
</html>